.Navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    transition: 3s;
}

.headercontact h2 {
    display: none;
}

.headercontact {
    display: flex;
    justify-content: flex-end;
    background: #FC6A03;
    width: 100vw;
    height: 6vh;
}

.socialmediaicons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}

.facebook {
    width: 2em;
    height: 2em;
    color: white
}

.facebook:hover {
    width: 3em;
    height: 3em;
    color: #4267B2
}

.instagram {
    width: 2em;
    height: 2em;
    color: white
}

.instagram:hover {
    width: 3em;
    height: 3em;
    color: #833AB4
}

.email {
    width: 2em;
    height: 2em;
    color: white
}

.email:hover {
    width: 3em;
    height: 3em;
    color: black
}

.sticky {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 100;
}

.brandnamelogo {
    display: flex;
    margin-left: -18%;
}

.logo {
    height: 80px;
    width: 80px;
}

.Navbar {
    display: flex;
    justify-content: space-evenly;
}

.Navbar h2 {
    font-family: 'Lobster Two', cursive;
    font-weight: 700;
    font-size: 1.5rem;
    margin-left: 15px;
    margin-top: 8%;
    color: black;
}

.Navbar>.nav-items>a {
    color: #222;
    font-size: 1.8rem;
    text-decoration: none;
    margin: 35px;
    position: relative;
    opacity: 0.9;
    text-align: center;
}

.Navbar>.nav-items>a:hover {
    opacity: 1;
}

.Navbar>.nav-items>a::before {
    content:"  ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: black;
    transition: all .45s;
}

.Navbar>.nav-items>a:hover::before {
    width: 100%;
}

.tourbuttondiv {
    padding-right: 2%;
}

.tour {
    cursor: pointer;
    background: #FC6A03;
    color: white;
    width: 130px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 1%;
    box-shadow: 5px black;
    font-family: sans-serif;
    box-shadow: 4px 5px 5px 1px rgba(0,0,0,0.5);
}

.tour:active {
    width: 130px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 1%;
    box-shadow: none;
    font-family: sans-serif;
}

@media (max-width: 1620px) {
    .headercontact h2 {
        display: unset;
        position: absolute;
        left: 10px;
        top: -10px;
        font-family: 'Lobster Two', cursive;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .Navbar h2 {
        display: none;
    }

    .Navbar {
        justify-content: space-between;
    }

    .brandnamelogo {
        margin-left: -10%;
    }
}

@media (max-width: 1150px) {
    .headercontact h2{
        font-size: 1.5rem;
        top: -10px;
        left: 5px;
    }

    .brandnamelogo {
        display: flex;
        margin-left: 0%;
    }
} 

  @media (max-width: 971px) {
    .Navbar>.nav-items {
        display: flex;
        flex-direction: column;
        background: papayawhip;
        position: absolute;
        top: 64px;
        left: 0;
        height: 90vh;
        width: 100%;
        transform: translateX(-105%);
        transition: all .40s;
        z-index: 230;
    }

    .Navbar>.nav-items>a::before {
        background: transparent;
    }

    .Navbar>.nav-items.open {
        transform: translateX(0);
        margin-left: -0.1px;
        margin-top: 4rem;
    }


    .Navbar>.nav-toggle {
        display: flex;
        width: 60px;
        height: 60px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .nav-toggle>.bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: black;
        transition: all 0.45s ease-in-out;
    }

    .nav-toggle {
        display: flex;  
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 100;
      }
      .nav-toggle>.bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: black;
      }

    .nav-toggle>.bar::before,
    .nav-toggle>.bar::after {
        content:"  ";
        position: absolute;
        height: 2px;
        background: black;
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
    }
    .nav-toggle>.bar::before {
        transform: translateY(-8px);
        width: 30px;
        right: 1px;
    }
    .nav-toggle>.bar::after {
        width: 30px;
        transform: translateY(8px);
        right: 1px;
    }
    .nav-toggle.open>.bar {
        transform: translateX(-40px);
        background: transparent;
    }
    .nav-toggle.open>.bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
    .nav-toggle.open>.bar::after {
        transform: rotate(-45deg) translate(26px, 26px);
    }
}

@media (max-width: 1000px) {

    .headercontact h2{
        font-size: 1.5rem;
        top: -10px;
        left: 5px;
    }

    .Navbar>.nav-items>a {
        margin: 15px;
    }

    .Navbar {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {

    .socialmediaicons {
        width: 200px;
    }
}

@media (max-width: 550px) {

    .socialmediaicons {
        width: 200px;
    }

    .facebook {
        height: 2em;
        width: 2em;
    }

    .facebook:hover {
        height: 2em;
        width: 2em;
    }

    .instagram {
        height: 2em;
        width: 2em;
    }

    .instagram:hover {
        height: 2em;
        width: 2em;
    }

    .email {
        height: 2em;
        width: 2em;
    }

    .email:hover {
        height: 2em;
        width: 2em;
    }

    .tour {
        display: none;
    }

    .Navbar {
        height: 60px;
    }

    .logo {
        margin-left: 300px;
        height: 50px;
        width: 50px;
    }

    .headercontact h2{
        font-size: 1.25rem;
        top: -5px;
        left: 5px;
    }

    .Navbar>.nav-items {
        top: 44px;
        height: 70vh;
    }
}

@media (max-width: 450px) {
    .Navbar>.nav-items.open {
        margin-left: -0.1px;
        margin-top: 5rem;
    }
    
    .socialmediaicons {
        width: 120px;
    }

    .facebook {
        height: 1.25em;
        width: 1.25em;
    }

    .facebook:hover {
        height: 1.25em;
        width: 1.25em;
    }

    .instagram {
        height: 1.25em;
        width: 1.25em;
    }

    .instagram:hover {
        height: 1.25em;
        width: 1.25em;
    }

    .email {
        height: 1.25em;
        width: 1.25em;
    }

    .email:hover {
        height: 1.25em;
        width: 1.25em;
    }

    .logo {
        margin-left: 120px;
    }

    .headercontact h2{
        font-size: 1rem;
        top: 0px;
        left: 5px;
    }

    .nav-toggle>.bar {
        margin-left: 15px;
    }

    .Navbar>.nav-items {
        top: 30px;
    }
}